h1{
    text-align: center;
    background-color: yellow;
}
#menu{
    float: left;
    width: 15%;
    padding: 15px;
}
#content{
    float: left;
    width: 60%;
    padding: 10px;
    border-left: 3px solid green;
}
#lastpost{
    float: right;
    width: 20%;
    padding: 10px;
    border: 1px dashed green;
}
a{
    width: 60%;
}
footer{
    text-align: center;
    padding: 12px;
    clear: both;
}
h3{
    font-size: larger;
}